<!DOCTYPE html>
<html>
<head>
	<title>Meetup!</title>

	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Meetup</a>
		  </div>
		  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li><a href="events.html">View Events</a></li>
		      <li><a href="create.html">Create Event</a></li>
		      <li><a href="index.html" class="current">Register</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		<section>
			<h1 class="text-center title animated fadeInUp">Signup!</h1>
			<div class="container">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 reg-div">

					<form id="registration" action="new.html">
						<div class="form-group">
							<label for="name">Your name (this is public)</label>
							<input type="text" class="form-control" id="name" placeholder="Rohan" autocomplete="name" required autofocus="true">
							<span class="warning"></span>
						</div>
						<div class="form-group">
						  <label for="email">Email address</label>
						  <input type="email" class="form-control" id="email" placeholder="rohan@example.com" autocomplete="email" required>
						  <span class="warning"></span>
						</div>
						<div class="form-group">
						  <label for="password">Password</label>
						  <input type="password" class="form-control" id="password" placeholder="**********" required>
						  <span class="warning"></span>
						</div>
						<div class="form-group">
						  <label for="role">Your Job Title (Optional)</label>
						  <input list="role-list" class="form-control" id="role" placeholder="Student" autocomplete="role">
						  <span class="warning"></span>
						  <datalist id="role-list">
						  	<option value="Student"></option>
						  	<option value="Software Engineer"></option>
						  	<option value="Professional"></option>
						  </datalist>
						</div>
						<button type="submit" id="reg-btn" class="btn btn-default btn-block btn-lg c2a">Register</button>
					</form>

				</div>
			</div>
		</section>
	</nav>
	<script src="js/registration.js"></script>
</body>
</html>